@import "constants.css";
* {
	margin: 0;
	padding: 0;
}
nav {
	display: flex;
	justify-content: space-between;
	margin: 4px;
	padding: 30px 30px 30px;
	border: 3px solid rgba(0, 119, 255, 0.35);
	position: sticky;
	top: 0;
	background: black;
	z-index: 1000;
}

html {
	/* smooth scrolling when clicking an anchor tag */
	scroll-behavior: smooth;
	font-family: "GFS Didot";
}


/* Bro these two class' are gonna mess you up in the future if you don't understand them, i swear. Ask me if you can't get it*/
.fit-whole-screen {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	/* height should be the screen size - nav bar height */
	min-height: calc(100dvh - 110px);
	margin-bottom: 100px;
	margin-top: 100px;
}

/* fit rest of screen */
.fill-screen-leftover {
	flex-grow: 1;
}

a.nav-element {
	color: white;
	text-decoration: none;
	font-size: 32px;
}

#quote {
	/* center quote */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	/* font config */
	font-size: 48px;
}

#logo {
	background: red;
	padding: 20px;
}

h1.heading {
	border: 3px solid rgba(0, 119, 255, 0.35);
	margin: 4px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;

	/* font config */
	font-size: 64px;
	letter-spacing: 5px;

	/* space between header and text */
	margin-top: 150px;

	/* center element */
	display: flex;
	justify-content: center;
	align-items: center;
}

.page {
	/* Center our page content */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px 160px 0px;

	/* font config */
	text-align: center;
	font-size: 32px;
	/* space between header and text */
	margin-top: 150px;
}

.about-page {
	/* Center our page content */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px 160px 0px;
	gap: 40px;

	/* font config */
	text-align: center;
	font-size: 32px;
	/* space between header and text */
	margin-top: 150px;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	animation: fadeIn 2s ease-in-out; 
}


.about-photo img {
	width: 300px;
	height: auto;
	border-radius: 16px;
}

.about-text {
	text-align: left;
	max-width: 600px;
}